<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Key</key>
	<string>91TSj3HgnUtY8CHKSsvPlasrJ</string>
	<key>API Key Secret</key>
	<string>M0rxJG8ohNR8z0Ius4BJml5GttNRXNUdniatfZkiRGrIJWGRd5</string>
</dict>
</plist>
